{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main>
    <section class="form-container">
        <h1 class="form-title">CONTACTEZ-NOUS</h1>

        {% for successMessage in app.flashes('success') %}
            <div class="form-info">
                {{ successMessage }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_row(form.contenu) }}
            {{ form_row(form.envoyer) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}