{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="page">

    <main class="home-content">
        <section class="featured-product">
            <h2>PRODUIT MIS EN AVANT</h2>

            {% if produit %}

            <article class="product-card">
                <h3>{{ produit.title }}</h3>

                {# On ajoutera l'image ici #}

                <p>{{ produit.description }}</p>

                <p>Prix : {{ (produit.centPrice / 100)|number_format(2, ',', '')}} €</p>

                <p>Stock : {{ produit.stock }}</p>

                <a
                    class="buy_button"
                    href="{{ path('app_produit_show', { id: produit.id })}}"
                >
                    VOIR LE PRODUIT
                </a>
            </article>
            {% else %}
                <p>Aucun produit disponible pour le moment.</p>
            {% endif %}
        </section>
        <aside class="cart">
            <h2>PANIER</h2>
        </aside>
    </main>
</div>
{% endblock %}
