{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<main>
    <h1>Produit</h1>

    {% if produit.images|length > 0 %}
    {% set image = produit.images|first %}

    <div class="produit-show-image">
        <img
            src="{{ asset('uploads/images/' ~ image.url) }}"
            alt="{{ produit.title }}"
            class="produit-image"
            style="width: 300px; height: 300px; object-fit: contain; display: block; margin: 20px auto;"
        >
        </div>
    {% else %}
        <p>Aucune image pour ce produit.</p>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ produit.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Cent_price</th>
                <td>{{ produit.centPrice }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ produit.state }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ produit.actif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
</main>
{% endblock %}
